<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth"></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">
      <strong>Recuperar Cuenta</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="container">
  <div class="app-logo">
    <br>
    <img src="./assets/3.jpg" alt="" class="de">
    <div class="d-flex-center">
      <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()" (keypress.enter)="submit()">
        <ion-card class="center-card">
          <ion-card-content>
            <p class="ion-text-cente">Te enviaremos un E-mail para que puedas recuperar tu contraseña</p>
            <app-custom-input
              autocomplete="email"
              icon="mail-outline"
              [control]="form.controls.email"
              type="email"
              label="Correo"
            ></app-custom-input>

            <div class="validators" *ngIf="form.controls.email.errors && form.controls.email.touched">
              <div *ngIf="form.controls.email.errors?.['required']">El correo es requerido</div>
              <div *ngIf="form.controls.email.errors?.['email']">Ingrese un correo válido</div>
            </div>
            <ion-button color="dark" expand="block" mode="ios" class="submit" type="submit" [disabled]="form.invalid">
              Recuperar
              <ion-icon slot="end" name="arrow-forward"></ion-icon>
            </ion-button>
          </ion-card-content>
        </ion-card>
      </form>
    </div>
  </div>
</ion-content>
