<app-header title="VAKAPP"></app-header>

<ion-content class="container">
  <img src="./assets/4.png" alt="Fondo" class="de">
  <div class="content-wrapper">
    <div class="top-content">
      <img src="./assets/5.png" alt="Logo" class="logo">
    </div>
    <div class="button-content">
      <ion-button class="hola" fill="clear" href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.gastroactitud.com%2Fpista%2Fvacas-asadores%2F&psig=AOvVaw14if8FeSZ0LXAHGt1_h597&ust=1709523212167000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCJDcvbCU14QDFQAAAAAdAAAAABAE">
        CONÓCENOS
      </ion-button>
    </div>
  </div>
</ion-content>
